server = https://acme.sectigo.com/v2/InCommonRSAOV
eab-kid = {{ sectigo_eab_kid }}
eab-hmac-key = {{ sectigo_eab_hmac }}
key-type = ecdsa
elliptic-curve = secp384r1
rsa-key-size = 4096
agree-tos = true